<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>rb_prettyblocks</name>
	<displayName><![CDATA[RB PrettyBlocks]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Blocks Library for PB]]></description>
	<author><![CDATA[Renaud Billen]]></author>
	<tab><![CDATA[content_management]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
